:root{
    --backgroundColor:linear-gradient(0deg, rgba(141,135,65,0.9332107843137255) 2%, rgba(101,157,189,1) 47%);
    --backgroundBase:rgb(141,135,65);
    --fontColor:#fbeec1;
    --headerBgColor:rgba(101,157,189,1);
}
body{
    position:relative;
    margin:0;
    min-height: 100vh;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    color:var(--fontColor);
    background:var( --backgroundBase);
        background: var( --backgroundColor);
    background-attachment: fixed;
}

.active{
    color:red !important;
}

/***************/
header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    margin:0;
    display:grid;
    grid-template-columns: 150px auto;
    grid-auto-rows:105px;
    background:var(--headerBgColor);
    z-index: 1;
}
#logo-pic{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transform:scale(0.70);
    opacity: 0.75;
}
nav div{
    height:50%;
    text-align: center;
}
#links-wrapper{
    display:flex;
    flex-direction: row;
}
#links-wrapper div{
    margin:auto 0;
    fleX:1 1 auto;
}
#links-wrapper a{
    font-size: 24px;
    color:#fbeec1;
    text-decoration: none;
}
#links-wrapper a:hover{
    color:black;
}

/***************/
#main{
    margin:0;
    width: 100%;
    position: absolute;
    top:150px;
    display:grid;
    grid-template-columns: minmax(auto, 200px)  auto minmax(auto, 200px);
    grid-auto-rows: minmax(78vh, auto) auto;
    grid-gap: 0 2vw ;
}

#quick-find{
    text-align:center;
}
#quick-find-menu{
    padding:0;
    text-align:center;
    list-style-type:none;
}
aside{
    position:fixed;
    height:100%;
    left:35px;
}
#context{
    grid-column: 2/3
}
aside a{
    color:darkblue;
    text-decoration: none;
}
aside a:hover{
    color: black;
}
footer{
    text-align:center;
    grid-column: 2/3;
    display:flex;
    flex-wrap: wrap;
    color:black;
    justify-content: space-evenly;
}
footer>* {
    margin-top:0;
    margin-bottom:0;
    flex: 1 1 100%;
}
footer a{
    flex: 0 0 0;
}
footer img{
    height:26px;
}

/** only for stats page *************/
table{
    text-align:center;
    border-spacing: 0;
    font-size: 20px; 
}


caption{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3%;
}
tr:nth-child(odd){
    background-color: hsl(192, 10%, 38%);
}
tr:nth-child(even){
    background-color: hsl(192, 7%, 50%);
}
th{
    background-color: hsl(192, 15%, 23%);
}

tbody :nth-child(12){
    background-color: hsl(0, 0%, 53%);
    padding:0;
    width:7%;
}
#stats-2{
    margin-top: 20px;
    visibility: hidden;
}
#stats-2:target{
    margin-top: 20px;
    visibility: visible;
}
.stats-bar{
    position:static !important;
}

/** only for form page *************/
#form-grid{
    min-height:40vh;
    display:grid;
    grid-template-rows: 1fr 1fr auto minmax(auto,40px);
    grid-auto-flow: column;
    grid-auto-columns:auto;
    justify-content: center;
    font-size: 20px;

}
#form-header{
    text-align:center;
    margin-bottom: 3%;
}
#submit{
    grid-row:4/5;
    grid-column:1/3;
}
label{
    margin-top: auto;
    margin-bottom: auto;
}
input{
    margin-top: auto;
    margin-bottom: auto;
}
#message{
    resize: none;
}
#submit{
    justify-self:center;
    background-color: #4CAF50;
    border: none;

    text-decoration: none;
    cursor: pointer;
    border-radius: 5%;
    width:150px;
}


/** only for under 600px screen width *************/
@media only screen and (max-width: 600px) {
    header{
        grid-template-columns:auto;
    }
    #logo{
        display:none;
    }
    #links-wrapper{
        flex-wrap: wrap;
    }
    #links-wrapper div {
        fleX:0 0 33%;
    }
    #empty-div{
        display:none;
    }
    #main{
        grid-template-columns: minmax(125px, auto);
    }
    aside{
        left:20px;
    }
    .contact-main{
        grid-template-columns: auto !important;
    }

}
