
body{
    position:relative;
    margin:0;
    min-height: 100vh;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    color:#fbeec1;
    background: rgb(141,135,65);
    background: linear-gradient(0deg, rgba(141,135,65,0.9332107843137255) 2%, rgba(101,157,189,1) 47%);
    background-attachment: fixed;
}

header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    margin:0;
    display:grid;
    grid-template-columns: 150px auto;
    grid-auto-rows:150px;
    background-color: rgba(101,157,189,1);
    z-index: 1;
}

#logo-pic{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#nav-bar div{
    height:50%;
    text-align: center;
}
#links-wrapper{
    display:flex;
    flex-direction: row;

}
#links-wrapper div{
    margin-top: auto;
    margin-bottom: auto;
    fleX:1 1 auto;
}

#main{
    margin:0;
    width: 100%;
    position:absolute;
    top:150px;
    display:grid;
    grid-template-columns: minmax(auto, 200px)  auto minmax(auto, 200px);
    grid-auto-rows: minmax(75vh, auto) auto;
}
#quick-find{
    text-align:center;
}
#side-bar a{
    color:darkblue;
    text-decoration: none;
}
#side-bar a:hover{
    color: black;
}


#context{
    padding-right: 5%;;
    padding-left:5%;
}
footer{
    grid-column: 2/3;

    /*
    position: relative;
    top:100%;
    bottom:0;
    width:100%;
    color:black;*/
}