
body{
    position:relative;
    margin:0;
    min-height: 100vh;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    color:#fbeec1;
    background: rgb(141,135,65);
    background: linear-gradient(0deg, rgba(141,135,65,0.9332107843137255) 2%, rgba(101,157,189,1) 47%);
    background-attachment: fixed;
}

header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    margin:0;
    display:grid;
    grid-template-columns: 150px auto;
    grid-auto-rows:150px;
    background: rgb(141,135,65);
    background: linear-gradient(180deg, rgba(141,135,65,0.9332107843137255) 2%, rgba(101,157,189,1) 47%);
    z-index: 1;
}

#logo-pic{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#nav-bar div{
    height:50%;
    text-align: center;
}
#links-wrapper{
    display:flex;
    flex-direction: row;
}
#links-wrapper div{
    margin:auto 0;
    fleX:1 1 0;
}
#main{
    margin:0;
    width: 100%;
    position:absolute;
    top:150px;
    display:grid;
    grid-template-columns: minmax(auto, 200px)  auto minmax(auto, 200px);
    grid-auto-rows: minmax(78vh, auto) auto;
    grid-gap: 0 2vw ;
}
#quick-find{
    text-align:center;
}
#side-bar a{
    color:darkblue;
    text-decoration: none;
}
#side-bar a:hover{
    color: black;
}

#context{

}
footer{
    text-align:center;
    grid-column: 2/3;
    display:flex;
    flex-wrap: wrap;
    color:black;
    justify-content: space-evenly;
}
footer>* {
    margin-top:0;
    margin-bottom:0;
    flex: 1 1 100%;
}
footer a{
    flex: 0 0 0;
}

footer img{
    height:26px;
}

@media only screen and (max-width: 600px) {
    header{
        grid-template-columns:auto;
    }
    #logo{
        display:none;
    }
    #links-wrapper{
        flex-wrap: wrap;
    }
    #links-wrapper div {
        fleX:0 0 33%;
    }
    #empty-div{
        display:none;
    }
    #main{
        grid-template-columns: minmax(auto, 200px) auto;
    }
    #quick-find{
        width:max-content;
        margin-left: auto;
        margin-right: auto;
    }
    footer{
        grid-column: 1/3;
    }
}